version: "3.9"

services:
  mongo:
    image: mongo:6.0
    container_name: mongo
    ports:
      - "27018:27017"
    volumes:
      - mongo-data:/data/db

  app:
    build: .
    container_name: nodejs-app
    ports:
      - "5001:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/mydatabase
      - NODE_ENV=production
    depends_on:
      - mongo

volumes:
  mongo-data:

